<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

</head>
<body>
<h2>这里是首页</h2>
<a href="/index">aaa</a>

<center>
    <table border=0 bordercolor="#111111" borderlight=green style="border-collapse: collapse" cellpadding="0"
           cellspacing="0">
        <tr>
            <td align=center>　</td>
        </tr>
        <tr>
            <td align=center><a href="" onMouseover="alert('点我看看');
alert('口红怎么样？');
alert('喜欢吗？');
alert('今天生日准备怎么过？');
alert('晚上准备恰海底捞吗？');
alert('希望您老人家天天开森！');
alert('想看看自己的名字吗？');
alert('二哥生日快乐！');
alert('老陈生日快乐！');
alert('秦佳生日快乐！');
alert('佳佳生日快乐！');
alert('好了，我溜了！');
alert('马上被领导看到了！');
alert('拜拜！');
alert('下面进入淘宝吧！');
alert('价钱不超过5块就好，最好是包邮的那种');
window.location='http://www.taobao.com';
window.href='http://www.taobao.com';">拜托鼠标放这儿</a>
            </td>
        </tr>
    </table>
</center>
</body>
</html>